<% for user in @users %>
  <li class="following">
  <a href="/?screen_name=<%= user.screen_name %>">
    <img width="48" height="48" src="<%= user.profile_image_url %>"/> 
    <div>
      <p class="name"><%= user.name %></p>
      <p class="screen_name">@<%= user.screen_name %></p>
    </div>
  </a>
  </li>
<% end %>

